.banner-bg {
    background: url("https://i.ibb.co/5FvDbnn/banner-img.jpg");
    background-repeat: no-repeat;
    background-size: conver;
    background-position: center;
    width: 100vw;
    height: 100vh;
}